body{
	margin: 0;

}

#parallelogram { 
	width: 550px; 
	height: 500px; 
	-webkit-transform: skew(20deg); 
	-moz-transform: skew(20deg); 
	-o-transform: skew(20deg); 
	background: #ff4d4d;
	position: relative;
	left: 40px;
	 } 
img{
	width: 100%;
	padding: 0;
	position: absolute;
	left: 207px;
	bottom: 348px;

}

