

body {
    margin: 0;
    padding: 0;
    color: #F3F3F5;
}

#forma{
    border-bottom: 744px solid #ff4d4d;
	border-left: 453px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 560px;
	position: relative;
	left: 1257px;
	bottom: -369px;
}
#rectangulo {
	width: 1000px;
	height: 742px;
	background-color: #ff8080;
	right: 1025px;
	top: 372px;
	position: absolute;
}

.texto{
	font-size: 30px;
	right: 505px;
	top: 424px;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}
h2{
	color: #ff9999;
}